/* heading text style */
@import url('https://fonts.googleapis.com/css2?family=pacifico&display=swap');

/* nav text style */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


body{
    background: #1a1a1a;
    margin-top: 0%;
}

/* h1 css */
h1{
    font-family: 'pacifico',cursive;
    background: #1a1a1a;
    margin-top: 0%;
    font-size: 12vmin;
    text-transform: capitalize;
}
.mainhead{
    background-image: linear-gradient(90deg,rgba(94,114,235,1)0%,rgba(255,145,144,1)56%,rgba(254,193,149,1)100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text; 
    animation: move 1s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    border-bottom: 2px double rgb(177, 177, 68);
    margin-left: 5px;
    margin-right: 15px;
    margin-bottom: 8px;
}

@keyframes move{
    50%{
        background-image: linear-gradient(262deg,rgba(94,114,235,1)0%,rgba(255,145,144,1)56%,rgba(254,193,149,1)100%);
    }
}
/* div fullbox */
.fullbox{
    margin-top: 0px;
}
/* nav styling */
nav{
    font-family:'Righteous', cursive;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    font-size: 30px;
    margin-top: 0px;
    flex-wrap: wrap;
}

a {
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    margin: 5px 0;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 2px;
    overflow: hidden;
    margin-right: 20px;
  }
  
  a:hover {
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
    /* -webkit-box-reflect: below 1px linear-gradient(transparent, #0005); */
  }
  
  a:nth-child(1) {
    filter: hue-rotate(270deg);
  }
  
  a:nth-child(2) {
    filter: hue-rotate(110deg);
  }
  
  a span {
    position: absolute;
    display: block;
  }
  
  a span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: animate1 2s linear infinite;
  }
  
  @keyframes animate1 {
    0% {
      left: -100%;
    }
    50%,
    100% {
      left: 100%;
    }
  }
  
  a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: animate2 2s linear infinite;
    animation-delay: 0.5s;
  }
  
  @keyframes animate2 {
    0% {
      top: -100%;
    }
    50%,
    100% {
      top: 100%;
    }
  }
  
  a span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: animate3 2s linear infinite;
    animation-delay: 1s;
  }
  
  @keyframes animate3 {
    0% {
      right: -100%;
    }
    50%,
    100% {
      right: 100%;
    }
  }
  
  a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: animate4 2s linear infinite;
    animation-delay: 1.55s;
  }
  
  @keyframes animate4 {
    0% {
      bottom: -100%;
    }
    50%,
    100% {
      bottom: 100%;
    }
  }
  
  /* pcallissues */
  .content1{
    margin-left: 10px;
  }
  .steps1{
    color:peru;
  }
  .inparaheads{
    color: #03e9f4;
    word-spacing: 5px;
    font-size: 25px;
  }
  .inparaheads1{
    color:rgb(236, 236, 101);
    letter-spacing: 2px;
    font-size: 20px;
  }
  .paras1{
    color:pink;
    font-size: 15px;
    word-spacing: 3px;
  }

  /* ms office */

  .paraheads{
    color:#03e9f4
  }
  
  .paraheads1{
    color:pink;
    word-spacing: 3px;
  }

  p{
    color:rgb(113, 176, 31);
    font-size: 15px;
    word-spacing: 3px;
  }

/*clipboard css*/
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
